.appheaderpart .contact_info_list{
    float: right;
    color: #000;
    padding-top: 6px;
}

.headertopemail{
    margin-bottom: -15px;
}

#loginCartWish{
    margin-top: 25px;
}

.textoverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.showonmobile{
    display: none;
}

.productlistimage{
    height: 250px;
    width: 250px;
}
.dropdownheader{
    width: 300px;
}

.dropdownheader h5{
    width: 300px;
}

.productitems{
    margin-bottom: 20px;
}

.dropdownheader2 h5{
    width: 380px;
}

.paddinglr125{
    padding:0 125px;
}


#side_menu{
    background: white;
}
#close_side_menu {
    opacity: .2;
    opacity: 1;
    color: black;
}

.custtompart1_header{
    margin-left: -83px;
}

.backbuttonpart1 span{
    font-size: 13px;
    font-weight: 500;
    margin-left: -83px;
    float: left;
    padding: 0px 10px;
    border-radius: 6px;
    background-color: #F1F1F1;
}

#containerBox{
    width: 28%;padding:0px;
}
.customcontainerpart2{
    padding-right: 0px;    width: 72%;
}

.mobilecategoryscroll{

}

.footersociallisnktext{

}

.footersociallisnk{
    width: 26px;
    height: 26px;
    float: right; 
    font-size: 18px;
    color: #fff;    
    background: black;
    border-color: red;
    line-height: 27px;    
    margin: 0px 5px;
}

.backimageproductdetails {
    background-size: 100%!important;
    background-position: center!important;
}

.selecteditemsstyle{
    width: 208px;height: 58px;position: absolute;margin-top: -62px;font-size: 17px;margin-left: 85px;color: #000;border-top: 1px solid rgba(0, 0, 0, 0.22);
}

.desktopright{
    float:right;
}
.productcheckbox{

    margin-top: 12px;
    position: absolute;
    margin-left: -9px;
    /* font-size: 25px; */
    font-weight: 300; 
}

.productboxleft{
    padding:0px 5px 0px 10px;-webkit-animation-duration: 0.6s;
}

.productboxleftaccordion{
    margin-left: 21px;
}

.col-25 {
    width: 20%;
}

.inchval {
    font-size: 18px;
    font-weight: 400;
    margin-top: -16px!important;
    position: absolute;
    float: left;
    margin-left: 5px;
}

.create_account_form_wrap{

}
#side_menu {
    z-index: 3000;
}

.birthdaylabel{
    width:25%;float:left;font-size:15px;color:#fff;font-weight:600;
}

@media only screen and (max-width: 768px) {
    .prerencetableform form{
        overflow-x: scroll;
    }

    .preference_form table{
        width: 650px;
    }

    #DataTables_Table_0_wrapper{

    }

    #DataTables_Table_0_wrapper .col-xs-6{
        width: 100%;
    }

    #DataTables_Table_0_wrapper .pagination a{
        font-size: 10px;
    }

    .dataTables_paginate.paging_bootstrap{
        float: left!important;
        margin-top: 19px!important;
    }

    .dataTables_paginate{
        float: left;
    }
    .mobilenopadding{
        padding: 0px!important;
    }
    .mobilenopadding .panel-body{
        overflow-x: scroll;
    }

    .color_black, .color_black_hover:hover {
        color: #000;
        font-weight: 500;
    }
    .mobilemenu{
        position: fixed;
        width: 100%;
        background: black;
        top:0;
        z-index: 5000;
    }
    .mobilemenu button{
        /*background: red;*/
        border:none;
    }

    .mobilemenu button span{
        background-color: white!important;
    }


    .topheadermobileposition{
        margin-top: 55px;
    }
    .birthdaylabel{
        width:100%;
        text-align: left;
    }

    .create_account_form_wrap{
        width: auto;
    }

    .fe_width_2, .table_type_3 {
        width: 100%; 
    }

    #billingShipping .col-md-12{
        padding:0;
    }
    #billingShipping .col-md-6{
        padding:0;
    }
    .shippingcartul li{
        width: 100%;
    }

    .measurement_form_setup{padding: 0px!important;}

    .measurement_form_setup table{
        width: 100%;
    }

    .create_new_measurement .col-sm-9{
        padding: 0!important;
    }

    .create_new_measurement .col-sm-3{
        padding: 0!important;
    }

    .number_slider_div {
        display: inline-block!important;
        height: auto;
        padding-top: 22px!important;
        width: 100%;
    }

    .productboxleftaccordion{
        margin-left: 0px;;
    }
    .productboxleft{
        padding:0px;-webkit-animation-duration: 0.6s;
    }

    .productcheckbox{

        margin-top: 12px;
        position: absolute;
        margin-left: -9px;
        /* font-size: 25px; */
        font-weight: 300;
        left: 16px;
        z-index: 200;
    }

    .measurement_form_setup .col-md-12{
        padding: 0px!important;
    }

    .measurement_form_setup .col-md-12{
        padding: 0px!important;
    }

    .custmo_form_setup .panel-default{
        border:none;
    }

    .slider_text {
        position: relative;
        height: 40px!important;
        /* background: #000; */
        margin-right: 13px;
        float: left;
        font: 400 20px/1.5em "Lato","sans-serif";
        /* text-shadow: 0px 1px 1px rgba(0, 50, 248, 0.39); */
        color: #000;
        font-size: 14px!important;
        width: 100%!important;
        text-align: left!important;
    }

    .slider_val {
        font-size: 25px!important;
        margin-top: 8px;
        text-align: left!important;
        width: 100%!important;
    }
    span.slider_text:nth-child(2) {
        display: none;
    }

    .col-25{
        width:auto!important;
    }

    .inchval {
        font-size: 15px!important;;
        font-weight: 400!important;;
        margin-top: -6px!important;;
        position: absolute!important;;
        /* float: left; */
        margin-left: 5px!important;;
    }
    .number_slider_div{    
    }

    .desktopright{
        float:inherit;
    }
    .customcontainerpart2 .col-md-12{
        padding:0px;
    }
    .customcontainerpart2 .col-sm-3{
        padding:0px;
    }
    .customcontainerpart2 .col-sm-4{
        padding:0px;
    }
    .customcontainerpart2 .col-sm-9{
        padding:0px;
    }
    .customcontainerpart2 .col-sm-12{
        padding:0px;
    }

    .selecteditemsstyle{
        width: 150px;
    }
    .footersociallisnktext{
        font-size: 11px;
    }

    .product_view{
        width: 100%;
    }
    .product_info{
        width: 100%;
    }

    .mobilecategoryscroll{
        width: 100%;
        overflow-x: scroll;
    }
    .mobilecategoryscroll::-webkit-scrollbar{
        background: #000;
        height: 5px;
    }

    .mobilecategoryscrollul{
        width:max-content;
    }


    .suit_control {
        width: 100%;
        padding: 0;
    }


    .style_selection{
        display: inline;
    }

    .style_selection select{
        font-size: 15px;
        width: 100%;
    }

    .custmo_form_setup .sub_heading{
        width: auto;
    }

    .buttonDiv_span{
        width: 100%;
        display: contents;
    }

    .button_img{
        width: 100%!important;
        text-align: center;
    }
    .button_lable{
        width: 100%!important;
        text-align: center;
    }
    .button_lable div div{
        text-align: center;
    }

    #containerBox{
        width: 100%;padding:10px;
        top: auto!important;
    }
    .customcontainerpart2{
        padding-right: 10px;    width: 100%;
    }

    a.wave-block.backbuttonpart1 {
        display: inline-block;
        margin-bottom: 25px;
    }


    .backbuttonpart1 span {
        margin-left: 0px;
    }

    .custtompart1_header{
        display: inline-block;
        margin-left: 0px;
    }

    .main_custom_tab li{
        width: 100%;
    }

    #AjaxCart{
        width: 165px;
    }

    .paddinglr125{
        padding:0 10px;
    }

    .dropdownheader{
        width: 266px;
    }
    .dropdownheader h5{
        width: 266px;
    }

    .dropdownheader2{
        width: 266px;
    }
    .dropdownheader2 h5{
        width: 266px;
    }
    .login_form{
        padding: 10px;
    }
    .productlistimage{
        height: 200px;
        width: auto;
    }
    .d_inline_m_mob{
        display: inline;
        display: inline!important;
        margin-bottom: 20px;
    }
    .showonmobile{
        display: block;
    }
    .col-sm-6{
        width: 50%;
        float: left;
    }
    .appheaderpart .contact_info_list{
        float: right;
        color: #000;
        padding-top: 6px;
    }
    .hideonmobile{display: none}
    .headertopemail{
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px!important;
    }
    #loginCartWish{
        margin-top: 10px;
    }

    .productimagesfrontpage{

    } 

    .labels_container {
        position: absolute;
        left: 67px;
        top: 10px;
        z-index: 2;
    }

    #open_side_menu {
        /* color: black; */
        position: fixed;
        top: 30px;
        right: -40px;
        cursor: pointer;
        z-index: 25;
        opacity: 1!important;
        background: red;
        border: 2px solid red;
    }

    .scheduleclass {
        padding: 10px 20px;
        margin: 20px 0px;
        border: 1px solid #000;
    }
    .scheduleclass h4{
        font-size: 15px;
    margin-bottom: 15px;
    }
    
    .scheduledate{
       margin: 20px 0px;
    }

}