



.pantSetup .thumbnail {
    transition: opacity 0.3s;
}



.pantSetup .thumbnail .caption{
    text-align: center;
    background: #6F2BA1;
    padding: 2px;
    color: #FFF;
    border-top: 3px solid #FFF;
}

.pantSetup .thumbnail .captionalt{
    text-align: center;
    background: none;
    padding: 2px;
    color: #FFF;
    border-top: 3px solid #FFF;
}

.pantSetup  .thumbnail .caption h3{
    margin: 0px;
    font: 400 13px/1.5em "Lato","sans-serif";
    text-shadow: 0px 2px 2px #2D1547;
}

.pantSetup  .vertialTab a{
    font: 300 16px/1.5em "Lato","sans-serif";
}

.pantSetup  .thumbnail img{
    height: 136px;
}

.pantSetup  .thumbnail:hover{
  
    cursor: pointer;
    box-shadow: -15px 0px 15px -8px #C3C3C3;
    /*border-left: 3px solid #6F2BA1;*/
    opacity: 1;
}



.deselect{
    opacity: 0.3;
}

.pantSetup  .panel-heading{
    padding: 3px;
}

.pantSetup  .panel-heading .fa-stack{
    font-size: 10px;
}

.pantSetup  .sub_heading{
    padding: 2px;
    margin: 0px 17px 12px 10px;
    background: rgba(232, 232, 232, 0.48);
    margin: 10px;
    padding: 4px;
    border: 1px solid rgba(3, 3, 3, 0.11);
}


.pantSetup  .towline h3{
    height: 39px;
}



.pantSetup  .activeTab{
    box-shadow: 8px 0px 2px #FFF, 4px 0px 8px -3px #CBC9C9 inset;
}
.pantSetup  .vertialTab{
    /*height: 438px;*/
    box-shadow: 6px 1px 10px -6px #C0BFBF;
}
.pantSetup  .iconimg{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #BEBEBE;
    padding: 2px;
}

.productImagesTemplate td{
    padding: 2px 10px;
}

.btn-group-xs .btn{
    padding: 0px 20px;
}

@keyframes zoom_class1{

    100%{
}
}
.zoom_class{

}

.suit_controlZoom{
    transition: transform 0.3s, border-radius 0.3s;
      position: relative;
       
}

.suit_controlZoom:hover{
    transform: scale(2);
   z-index: 9999999999999999999;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 9px 27px -5px #000;
    
}

.pantSetup  div.selected{
    /*background-color: #E4E4E4;*/
    /*border: 1px solid rgba(119, 0, 160, 0.78);*/
    cursor: pointer;
    box-shadow: -15px 0px 15px -8px #C3C3C3;

    /*border-left: 3px solid #6F2BA1;*/
}